aside.ant-layout-sider.ant-layout-sider-dark {
  min-width: 300px !important;
}

.ant-space.ant-space-vertical {
  height: 89vh !important;
  gap: 0 !important;
}

div.editor-statusbar {
  display: none;
}
